VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=boardgame-online-platform.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=
VITE_FIREBASE_PROJECT_ID=boardgame-online-platform
VITE_FIREBASE_STORAGE_BUCKET=boardgame-online-platform.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=769265872941
VITE_FIREBASE_APP_ID=1:769265872941:web:02f295d845103fbd5a48a4
VITE_FIREBASE_FUNCTIONS_REGION=asia-east1
